[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
coverage = "*"
django-cors-headers = "*"
pillow = "*"
drf-social-oauth2 = "*"

[requires]
python_version = "3.9"
